<table class="table">
    <tr valign="top">
        <td style="width: 50px;"><img src="{{ post.author.avatar(36) }}" class="rounded-circle" alt="Author Avatar">
        </td>
        <td>
            <a href="{{ url_for('user', username=post.author.username) }}" class="fw-bold text-decoration-none">{{
                post.author.username }}</a> said {{ moment(post.timestamp).fromNow() }}<br>
            <div>{{ post.body }}</div>
            {% if post.language and post.language != g.locale %}
            <br><br>
            <span id="translation{{ post.id}}">
                <a href="javascript:translate(
                'post{{post.id}}',
                'translation{{post.id}}',
                '{{post.language}}',
                '{{g.locale}}');">{{ _('Translate') }}</a>
            </span>
            {% endif %}
        </td>
    </tr>
</table>