{% extends "base.html" %}

{% block content %}

<body>
    <div class="container">
        <h2>{{ title }}</h2>
        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="form-group">
                <label for="Email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password_new">New Password:</label>
                <input type="password" class="form-control" id="password_new" name="password_new" required>
            </div>
            <div class="form-group">
                <label for="password_check">Check Password:</label>
                <input type="password" class="form-control" id="password_check" name="password_check" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
            </script>
    </div>
</body>

{% endblock %}